.navbar-nav a{
    display: flex;
    color: aqua;
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
}

.navbar-nav{
    width: 420px;
    display: flex;
    justify-content: space-between;
}

.navbar-dark .navbar-brand {
    color: #FFC800;
    font-family: 'Nothing You Could Do', cursive;
    font-weight: bold;
}

